.tools/
reference/
build/
.dart_tool/
.flutter-plugins-dependencies
android/local.properties
android/.gradle/
*.iml
.idea/
*.jks
*.keystore

# Harmony local signing material
*.p12
*.p7b
*.cer
harmony/signing-local/
